### Exercises 1

These exercises are intended to help you become more familiar with the basics of Python.

#### Ex 1.1

In the cell below we have defined a string called `a`.

Like all types in Python, this string is an object. 

Use tab completion to see which methods are available for the string type.

Use the question mark operator to find out how the `count` method works.

Use the `count` method to count the number of *a* characters that occur in `a`. 

Try out some of the other methods as well.

In [1]:
a="a string is an object"
a.count('a')
import pandas as pd

#### Ex 1.2

Use the string `split()` method to get a list of the words in the string `a` from the previous exercise.

Then use a list-based sorting method to sort the resulting list of words in alphabetical order. 

If `b` is the list of words in `a`, try both

```python
b.sort()
```

and

```python
sorted(b)
```

What is the difference between these approaches? (*Hint:* use the question mark operator)

In [7]:
### Your solution here
b = a.split()
b.sort()
b
sorted(b)
b

['a', 'an', 'is', 'object', 'string']

#### Ex 1.3

Jupyter allows shell commands to be issued from inside a notebook by using the `!` operator.
For instance, to see the current working directory you can type

```python
!pwd
```

in a cell and run it.

Use shell commands from within the notebook to 

1. List the other files in the current directory (*Hint:* the Linux command is `ls`).
2. Create a new subdirectory (*Hint:* the Linux command is `mkdir <dirname>`).

In [1]:
### Your solution here
!pwd
!ls

/Users/stephenwilliams/Downloads/stephen.williams13 2/Assignment2
Exercises1.ipynb     FeatureScaling.html  FeatureScaling.ipynb

#### Ex 1.4

Explain what the following cell is doing.

In [2]:
a = !ls
a

['Exercises1.ipynb', 'FeatureScaling.html', 'FeatureScaling.ipynb']

# storing file names in list

#### Ex 1.5

Explain what the following cell is doing.

*Hint:* [touch](https://www.geeksforgeeks.org/touch-command-in-linux-with-examples/)

*Hint:* [grep](https://docs.oracle.com/cd/E19504-01/802-5826/6i9iclf5k/index.html)

In [3]:
filename = "ravenclaw"
!touch {filename}
!ls -l | grep {filename}

-rw-r--r--  1 stephenwilliams  staff       0 Sep 14 16:33 ravenclaw

# creating new file called ravenclaw

#### Ex 1.6

Consider the string below.

```python
s="""One of nature's most intense spectacles can be tamed with humble sea salt, the same stuff that graces some dinner tables. Researchers recently found that the frequency of lightning decreases by up to 90 percent in the presence of salty sea spray."""
```

Often in Natural Language Processing (NLP) we need to filter out punctuation from a string, and break it into a list of indivivual words.

Breaking into a list of words is easy, because of the built-in string method `split()`.

Use `split()` to turn the string below into a list of words.

In [4]:
s="""One of nature's most intense spectacles can be tamed with humble sea salt, the same stuff that graces some dinner tables. Researchers recently found that the frequency of lightning decreases by up to 90 percent in the presence of salty sea spray."""
words = s.split()
words

['One',
 'of',
 "nature's",
 'most',
 'intense',
 'spectacles',
 'can',
 'be',
 'tamed',
 'with',
 'humble',
 'sea',
 'salt,',
 'the',
 'same',
 'stuff',
 'that',
 'graces',
 'some',
 'dinner',
 'tables.',
 'Researchers',
 'recently',
 'found',
 'that',
 'the',
 'frequency',
 'of',
 'lightning',
 'decreases',
 'by',
 'up',
 'to',
 '90',
 'percent',
 'in',
 'the',
 'presence',
 'of',
 'salty',
 'sea',
 'spray.']

#### Ex 1.6 cont

Now we will filter out the punctuation from `s`, leaving only letters.

There are many ways of doing this.

To help, we generate a string containing all common punctuation symbols below, called `punc`.

In [5]:
## Be sure to run this cell, or the kernel will not know what `punc` means
import string

punc=string.punctuation


punc

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

#### Ex 1.6 cont

Now write a program that will turn the following pseudocode into Python.

```
for each punctuation symbol `p` in `punc`
    replace all occurrences of `p` in `s` with the emptystring 
```

In [6]:
### Your solution here

s="""One of nature's most intense spectacles can be tamed with humble sea salt, the same stuff that graces some dinner tables. Researchers recently found that the frequency of lightning decreases by up to 90 percent in the presence of salty sea spray."""
new =s
for p in punc:
    new = new.replace(p,'')
new

'One of natures most intense spectacles can be tamed with humble sea salt the same stuff that graces some dinner tables Researchers recently found that the frequency of lightning decreases by up to 90 percent in the presence of salty sea spray'

#### Ex 1.6 Solution approach 2

Try this version of the punctuation removal algorithm.  It uses the built-in string method `isalnum()`, which returns `True` if a character is alpha-numeric and `False` otherwise.

Pseudocode:

```
create an empty list L
for each character `c` in `s`
    if `c` is alphanumeric or space then put `c` into L
turn L into a string
```

In [39]:
### Your solution here

#### Ex 1.6 review

We solved the problem two different ways.  Which is better? Jupyter includes a `%%timeit` magic that will let us determine which solution is most efficient. 

Put `%%timeit` as the first line in each of the cells for your answers and re-run them.  Which algorithm is faster? 

Can you think of a reason why the faster algorithm was faster?

In [40]:
%%timeit
s="""One of nature's most intense spectacles can be tamed with humble sea salt, the same stuff that graces some dinner tables. Researchers recently found that the frequency of lightning decreases by up to 90 percent in the presence of salty sea spray."""
new =s
for p in punc:
    new = new.replace(p,'')
new

5.43 µs ± 18.1 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

#### Ex 1.7

Modify the code below so that it also computes the average length of a word in `s`.

In [26]:
s="""One of nature's most intense spectacles can be tamed with humble sea salt, the same stuff that graces some dinner tables. Researchers recently found that the frequency of lightning decreases by up to 90 percent in the presence of salty sea spray."""
ss=map(len,s.split())
lenght = 0
for l,w in zip(ss,s.split()):
    print(l,w)
    lenght +=l

avg = lenght/len(s.split())
print('average: ',avg)

3 One
2 of
8 nature's
4 most
7 intense
10 spectacles
3 can
2 be
5 tamed
4 with
6 humble
3 sea
5 salt,
3 the
4 same
5 stuff
4 that
6 graces
4 some
6 dinner
7 tables.
11 Researchers
8 recently
5 found
4 that
3 the
9 frequency
2 of
9 lightning
9 decreases
2 by
2 up
2 to
2 90
7 percent
2 in
3 the
8 presence
2 of
5 salty
3 sea
6 spray.
average:  4.880952380952381

#### Exercise 1.8

In Python a *tuple* is a non-mutable version of a list.  

Create an empty list an add 25 three-tuples (*ie* tuples of length three) to the list.

The tuples should be of the form `(a,b,c)` where

`a` is a random integer between -10 and 10

`b` is a letter of the word "rottweiler" selected uniformly at random

`c` is a floating point number chosen from the standard normal distribution.

To recap, you are going to make a list of 25 randomly generated 3-tuples, where the tuples have the above form.

Then print out the list in sorted order.

In [44]:
### Your solution here
import random

a = tuple((random.randint(-10,10),random.choice('rottweiler'),random.uniform(1.5, 1.9)) for i in range(1, 26))
sorted(a)

[(-9, 'i', 1.7226342705571838),
 (-8, 'r', 1.6908574506792617),
 (-8, 'w', 1.872361417931272),
 (-7, 'o', 1.7531308067478228),
 (-6, 'e', 1.6229190376296205),
 (-6, 'o', 1.5717178021165819),
 (-5, 't', 1.5738344278531313),
 (-4, 'o', 1.551801764116041),
 (-4, 'o', 1.604111907194257),
 (-3, 'e', 1.7139408674472698),
 (-3, 't', 1.771554352104663),
 (-1, 'o', 1.6708652457897104),
 (-1, 'o', 1.8747321116049231),
 (0, 'w', 1.605129063038386),
 (1, 'o', 1.693756517588514),
 (2, 'e', 1.560663986056203),
 (2, 'i', 1.659326303621092),
 (3, 't', 1.741805807760192),
 (4, 'r', 1.6905062444184948),
 (5, 'e', 1.5756704381554143),
 (7, 't', 1.896250260705397),
 (9, 'l', 1.8495746069525212),
 (10, 'e', 1.5999250807823673),
 (10, 'r', 1.7042270947760163),
 (10, 'r', 1.8721965840256187)]

#### Exercise 1.9 part 1

Using the Python `datetime` object, write a short program to make a list of all the dates of all Tuesdays and Thursdays between 8/25/22 and 12/13/22 (inclusive).

In [19]:
import datetime
time = pd.date_range(start='8/25/22 ', end='12/13/22')

time = pd.DataFrame(time,columns = ['time'])
time['date'] = time.time.apply(lambda x: x.weekday())
time = time[(time['date'] == 1) | (time['date'] == 3)].reset_index(drop = True).drop(columns = 'date')
time.head()

        time
0 2022-08-25
1 2022-08-30
2 2022-09-01
3 2022-09-06
4 2022-09-08

#### Exercise 1.9 part 2

Take the list you made in part 1 and filter out the following dates: 

```python
holidays = [(2022,9,27),(2022,9,29),(2022,10,4),(2022,11,24)]
```

Print the list and you have generated all of our meeting days for the current semester!

In [20]:
holidays = ['2022-09-27','2022-09-29','2022-10-4','2022-11-24']
c1 = time.time.isin(holidays)
time = time[~(c1)]
time.head(35)

         time
0  2022-08-25
1  2022-08-30
2  2022-09-01
3  2022-09-06
4  2022-09-08
5  2022-09-13
6  2022-09-15
7  2022-09-20
8  2022-09-22
12 2022-10-06
13 2022-10-11
14 2022-10-13
15 2022-10-18
16 2022-10-20
17 2022-10-25
18 2022-10-27
19 2022-11-01
20 2022-11-03
21 2022-11-08
22 2022-11-10
23 2022-11-15
24 2022-11-17
25 2022-11-22
27 2022-11-29
28 2022-12-01
29 2022-12-06
30 2022-12-08
31 2022-12-13