## Midterm

This is the midterm.

You can use the web. 

In problems 9 and 10 please do not copy prose from others.  

For the bonus please do not submit the code of others.

Collaboration with others is not allowed.

#### Problem 1

Below we load the file `codon_usage.csv` as a dataframe. This data comes from [here](https://archive.ics.uci.edu/ml/datasets/Codon+usage).

It might make the work more enjoyable to briefly review the meaning of [codon](https://www.genome.gov/genetics-glossary/Codon).

Print out a random sample of five rows after you load the data.

In [1]:
import pandas as pd
import re
import string
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV

In [42]:
df = pd.read_csv("codon_usage.csv")
df.sample(5)

C:\Users\Stephen Williams\AppData\Local\Temp\ipykernel_12980\2212089834.py:1: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("codon_usage.csv")

,Kingdom,DNAtype,SpeciesID,Ncodons,SpeciesName,UUU,UUC,UUA,UUG,CUU,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
2088,vrl,0,37665,74188,Ectocarpus siliculosus virus 1,0.01662,0.02415,0.00376,0.01675,0.01368,...,0.00799,0.01181,0.01275,0.02138,0.03989,0.02840,0.03048,0.00123,0.00058,0.00131
7299,pln,0,36779,2086,Gaeumannomyces graminis var. tritici,0.00815,0.03643,0.00000,0.00240,0.00767,...,0.00863,0.00096,0.00623,0.00959,0.04362,0.00192,0.03356,0.00096,0.00000,0.00096
10203,vrt,0,143350,30158,Pagrus major,0.01313,0.02523,0.00255,0.00922,0.01084,...,0.00361,0.01297,0.01180,0.01598,0.03263,0.01651,0.04430,0.00106,0.00036,0.00136
12190,mam,1,229053,3828,mitochondrion Microgale principula (greater lo...,0.01437,0.02299,0.02743,0.00601,0.01750,...,0.00000,0.00000,0.00000,0.00131,0.00496,0.00940,0.00392,0.00000,0.00287,0.02116
6345,pln,0,138011,5366,Brassica napus var. napus,0.02534,0.02274,0.01211,0.02031,0.02460,...,0.00615,0.02013,0.01155,0.03224,0.02255,0.03075,0.03205,0.00037,0.00075,0.00130

#### Problem 2

On the above load you might have noticed this warning:

    DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.

Find the weird entries in columns 5 and 6 and print them out. 

Then update the dataframe by deleting the rows in which they occur.

Then convert the columns to type np.float64.

To test your work do:

    print(ddf.dtypes[:10])

The output should be:

    Kingdom         object
    DNAtype          int64
    SpeciesID        int64
    Ncodons          int64
    SpeciesName     object
    UUU            float64
    UUC            float64
    UUA            float64
    UUG            float64
    CUU            float64

The new shape of the dataframe should be

    (13026, 69)

In [43]:
def num(s):
    try:
        d = float(s)
        return True
    except:
        return False

In [44]:
df["UUU"] = df.UUU.apply(lambda x: x if type(x) ==float else (x if num(x) else print(x) and x == None))

non-B hepatitis virus
12;I

In [45]:
df["UUC"] = df.UUC.apply(lambda x: x if type(x) ==float else (x if num(x) else print(x) and x == None))

-

In [46]:
df = df.dropna()

df.shape

(13026, 69)

In [47]:
df['UUU'] = pd.to_numeric(df['UUU'])
df['UUC'] = pd.to_numeric(df['UUC'])
df.dtypes[:10]

Kingdom         object
DNAtype          int64
SpeciesID        int64
Ncodons          int64
SpeciesName     object
UUU            float64
UUC            float64
UUA            float64
UUG            float64
CUU            float64
dtype: object

In [48]:
df.shape

(13026, 69)

#### Problem 3

a) What is the SpeciesName for the organism with the highest value for Ncodons? 

b) List all the codons (3 letter sequence column names).

c) Which codon has the highest variance in its column?

### (a) Homo sapiens

In [13]:
df[['SpeciesName','Ncodons']].sort_values('Ncodons',ascending = False)

                               SpeciesName   Ncodons
13026                         Homo sapiens  40662582
7000                          Oryza sativa  34132283
7313                  Arabidopsis thaliana  31098475
12658                         Mus musculus  24533776
9796               Drosophila melanogaster  21945319
...                                    ...       ...
6846         chloroplast Nothofagus glauca      1000
6875          chloroplast Satyrium erectum      1000
9941              Astropecten brasiliensis      1000
7950   chloroplast Rhododendron albiflorum      1000
3723           Desulfitobacterium sp. PCE1      1000

[13026 rows x 2 columns]

### (b)

In [49]:
codons = df.iloc[:, 5 : ]
codons

,UUU,UUC,UUA,UUG,CUU,CUC,CUA,CUG,AUU,AUC,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
0,0.01654,0.01203,0.00050,0.00351,0.01203,0.03208,0.00100,0.04010,0.00551,0.02005,...,0.00451,0.01303,0.03559,0.01003,0.04612,0.01203,0.04361,0.00251,0.00050,0.00000
1,0.02714,0.01357,0.00068,0.00678,0.00407,0.02849,0.00204,0.04410,0.01153,0.02510,...,0.00136,0.01696,0.03596,0.01221,0.04545,0.01560,0.04410,0.00271,0.00068,0.00000
2,0.01974,0.02180,0.01357,0.01543,0.00782,0.01111,0.01028,0.01193,0.02283,0.01604,...,0.00596,0.01974,0.02489,0.03126,0.02036,0.02242,0.02468,0.00391,0.00000,0.00144
3,0.01775,0.02245,0.01619,0.00992,0.01567,0.01358,0.00940,0.01723,0.02402,0.02245,...,0.00366,0.01410,0.01671,0.03760,0.01932,0.03029,0.03446,0.00261,0.00157,0.00000
4,0.02816,0.01371,0.00767,0.03679,0.01380,0.00548,0.00473,0.02076,0.02716,0.00867,...,0.00604,0.01494,0.01734,0.04148,0.02483,0.03359,0.03679,0.00000,0.00044,0.00131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13023,0.02552,0.03555,0.00547,0.01367,0.01276,0.02097,0.00820,0.03555,0.01459,0.03920,...,0.00820,0.01367,0.01094,0.01367,0.02279,0.02005,0.04102,0.00091,0.00091,0.00638
13024,0.01258,0.03193,0.01984,0.00629,0.01451,0.05322,0.07644,0.01258,0.03096,0.06386,...,0.00145,0.00000,0.00048,0.00194,0.01306,0.01838,0.00677,0.00242,0.00097,0.01887
13025,0.01423,0.03321,0.01661,0.00356,0.01127,0.05042,0.09609,0.01068,0.02728,0.06643,...,0.00000,0.00000,0.00000,0.00178,0.01661,0.02788,0.00297,0.00356,0.00119,0.02017
13026,0.01757,0.02028,0.00767,0.01293,0.01319,0.01959,0.00715,0.03964,0.01600,0.02082,...,0.01142,0.01217,0.01196,0.02178,0.02510,0.02896,0.03959,0.00099,0.00079,0.00156
13027,0.01778,0.03724,0.01732,0.00600,0.01689,0.03854,0.07000,0.01308,0.03391,0.05137,...,0.00083,0.00041,0.00041,0.00451,0.01402,0.01651,0.00783,0.00156,0.00114,0.02161

### (C) CUA  has the highest variance

In [50]:
codons.describe().idxmax(axis=1)

count    UUU
mean     AAA
std      CUA
min      UUU
25%      GAA
50%      GAA
75%      AUU
max      AGC
dtype: object

In [51]:
codons.CUA.describe()

count    13026.000000
mean         0.019045
std          0.024252
min          0.000000
25%          0.005302
50%          0.009680
75%          0.017255
max          0.163920
Name: CUA, dtype: float64

#### Problem 4

Drop the SpeciesName and SpeciesID columns. Be sure the change is reflected in an updated dataframe.

In [52]:
df = df.drop(columns = ['SpeciesName','SpeciesID'],axis =1)
df.head()

,Kingdom,DNAtype,Ncodons,UUU,UUC,UUA,UUG,CUU,CUC,CUA,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
0,vrl,0,1995,0.01654,0.01203,0.00050,0.00351,0.01203,0.03208,0.00100,...,0.00451,0.01303,0.03559,0.01003,0.04612,0.01203,0.04361,0.00251,0.00050,0.00000
1,vrl,0,1474,0.02714,0.01357,0.00068,0.00678,0.00407,0.02849,0.00204,...,0.00136,0.01696,0.03596,0.01221,0.04545,0.01560,0.04410,0.00271,0.00068,0.00000
2,vrl,0,4862,0.01974,0.02180,0.01357,0.01543,0.00782,0.01111,0.01028,...,0.00596,0.01974,0.02489,0.03126,0.02036,0.02242,0.02468,0.00391,0.00000,0.00144
3,vrl,0,1915,0.01775,0.02245,0.01619,0.00992,0.01567,0.01358,0.00940,...,0.00366,0.01410,0.01671,0.03760,0.01932,0.03029,0.03446,0.00261,0.00157,0.00000
4,vrl,0,22831,0.02816,0.01371,0.00767,0.03679,0.01380,0.00548,0.00473,...,0.00604,0.01494,0.01734,0.04148,0.02483,0.03359,0.03679,0.00000,0.00044,0.00131

#### Problem 5

Print out the count for each value in the Kingdom column.  The output should be

    bct    2919
    vrl    2831
    pln    2523
    vrt    2077
    inv    1345
    mam     572
    phg     220
    rod     215
    pri     180
    arc     126
    plm      18
    Name: Kingdom, dtype: int64

In [53]:
df.Kingdom.value_counts()

bct    2919
vrl    2831
pln    2523
vrt    2077
inv    1345
mam     572
phg     220
rod     215
pri     180
arc     126
plm      18
Name: Kingdom, dtype: int64

#### Problem 6

Now let's define `X` and `y`.

Let `X` be all the columns except for Kingdom.

Let `y` be a vector of $\pm 1$ where `y` is 1 if the Kingdom is `bct` and -1 otherwise.

In [54]:
X = df.drop('Kingdom',axis = 1)
y = df.Kingdom.apply(lambda x: 1 if x == 'bct' else -1)
y.value_counts()

-1    10107
 1     2919
Name: Kingdom, dtype: int64

#### Problem 7

Do a train-test split of `X` and `y` and scale the data.

In [55]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size =.2,random_state =45)
scl = StandardScaler()
X_train = scl.fit_transform(X_train)
X_test = scl.fit_transform(X_test)

#### Problem 8

Get the highest accuracy you can on the test set using `sklearn` classifier libraries.

You are allowed to adjust hyperparameters.

In [56]:
logit = LogisticRegression()
svc = SVC()

# Logistic regression

In [57]:
logit.fit(X_train,y_train)
print("logistic accuracy")
logit.score(X_test,y_test)

0.9608595548733692

# SVC

In [58]:
svc.fit(X_train,y_train)
print("svc accuracy")
svc.score(X_test,y_test)

0.9808135072908672

# Gridsearch random forest

In [24]:
params = {
    'criterion' : ['gini', 'entropy'],
}

grid_search_cv = GridSearchCV( 
    estimator=RandomForestClassifier(), 
    param_grid=params,
    scoring='accuracy', )

grid_search_cv.fit(X_train, y_train)
rf = grid_search_cv.best_estimator_

In [25]:
rf.score(X_test,y_test)

0.9696853415195702

#### Problem 9

Personally I tried two models:  An SVC with default (rbf) kernel and `C=10` and another SVC with default kernel, but `C=1`.

When I did this experiment, the `C=10` model had both higher test accuracy and higher training set accuracy.

Use your understanding of `bias`, `variance`,`underfitting`,`overfitting` and `slack variables` to explain:

1) Why the training accuracy went up with the higher `C`
2) Why the test accuracy went up with the higher `C`. 

This should be at least 100 or 200 words.

###  It seems to be that  when C = 1, we are putting alot of constraints on the model. More regularization This can lead to underfitting where the model cannot learn much and as such, leads to poor performance on both training and tests set. On the underhand, with C = 10, we are placing less constraints on the model to learn. With that, we can see an increase in both training and test sets. The model C=10  has a higher variance and low bias compared to C=1

#### Problem 10

Then I tried another experiment.  I set `C=100` in the SVC model.  

The training accuracy got even better but the test accuracy went down. 

Use your understanding of `bias`, `variance`,`underfitting`,`overfitting` and `slack variables` to explain:

1) Why the training accuracy went up with the higher `C`
2) Why the test accuracy went **down** with the higher `C`.

### This is a prime example of overfitting. By increasing C , we are allowing the model to learn the nuances of the training set. This is less regularization.It 'overlearned' the training set leading to higher accuracy. And as of result, the model will not do well on test sets or data it has not seen. It has poor generalization. The variance is higher and bias is lower compared to C=10. I suggest that you decrease C

#### Problem 11

Use a LogisticRegression model to fit the training data.

Then find the instance in your test set such that your model classifies it as 1, but is "least certain" about this classification among all positively classified test instances.

### 7.094330e-29 sure that it classified it 1

In [39]:
y_pred = logit.predict(X_test)
y_pred_proba = logit.predict_proba(X_test)[:,1]
y_pred_proba.round(2)
pred_df = pd.DataFrame.from_dict({'y_probability_true':y_pred_proba})
pred_df.min()

y_probability_true    7.094330e-29
dtype: float64

#### Bonus 1

Modify our homemade linear classifier code to do L1 regularization.  

That means weight decay based on the L1 metric.

Use a parameter `alpha` to control the level of L1 regularization.

How does it do on this data?

### Bonus 2

Use the `sklearn` RandomForestClassifier to rank the codons in terms of their importance in making the classification.

In [60]:
l = list(X.columns)

In [61]:
feature_imp = pd.Series(rf.feature_importances_,index=l).sort_values(ascending=False)
feature_imp[:10]

GCG        0.058813
GAA        0.046704
UGU        0.044943
CGC        0.044041
UGC        0.041819
DNAtype    0.037793
CCG        0.034935
AGG        0.033947
GGC        0.032362
ACU        0.032008
dtype: float64

### Bonus 3

1. Write (or find) a function that returns the euclidean distance between two vectors.
2. Write a function `neighbor_predict` that takes a feature vector `x` and a training set `X_train_scl` and returns the mode class of the five instances in `X_train_scl` that are closest to `x`. 

In other words, for the provided instance `x`, the function finds the five closest data points in the training set and returns the class label that occurs most often among these five.  

3. What accuracy does this give on the test set?