### Homework 3: The perceptron

In this homework we will use the perceptrion and the Perceptron Learning Algorithm (PLA) to do something useful.

Please take the following steps.

1. Download the [Wisconsin Breast Cancer](https://archive.ics.uci.edu/ml/datasets/breast+cancer+wisconsin+(diagnostic)) dataset. 
2. Download the file `wdbc.data` from the `data` folder.
3. Theoretically `wdbc.names` would explain the data, but it seems to be wrong.  Instead, use the description that is on the intro page linked above to understand what the data means.

In [1]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/wdbc.data

--2022-09-22 16:12:58--  https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/wdbc.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 2607:7700:0:28:0:1:80c3:afc, 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|2607:7700:0:28:0:1:80c3:afc|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 124103 (121K) [application/x-httpd-php]
Saving to: ‘wdbc.data’

wdbc.data           100%[===================>] 121.19K  15.8KB/s    in 7.7s

2022-09-22 16:13:07 (15.8 KB/s) - ‘wdbc.data’ saved [124103/124103]

In [4]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data

--2022-09-22 16:15:02--  https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 2607:7700:0:28:0:1:80c3:afc, 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|2607:7700:0:28:0:1:80c3:afc|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19889 (19K) [application/x-httpd-php]
Saving to: ‘breast-cancer-wisconsin.data’

breast-cancer-wisco 100%[===================>]  19.42K  7.36KB/s    in 2.6s

2022-09-22 16:15:05 (7.36 KB/s) - ‘breast-cancer-wisconsin.data’ saved [19889/19889]

In [7]:
import pandas as pd
df = pd.read_csv('breast-cancer-wisconsin.data',header=None)
df.sample(5)

          0   1   2   3   4   5   6   7   8   9   10
326   752904  10   1   1   1   2  10   5   4   1   4
576   690557   5   1   1   1   2   1   2   1   1   2
342   814265   2   1   1   1   2   1   1   1   1   2
433  1293439   3   2   2   3   2   1   1   1   1   2
244  1285531   1   1   1   1   2   1   3   1   1   2

In [8]:
df.shape

(699, 11)

In [10]:
df_train = pd.read_csv('wdbc.data',header=None)
df_train.sample(5)

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
441,909445,M,17.270,25.42,112.40,928.8,0.08331,0.1109,0.12040,0.05736,...,20.38,35.46,132.80,1284.0,0.1436,0.4122,0.5036,0.1739,0.2500,0.07944
518,917062,B,12.880,18.22,84.45,493.1,0.12180,0.1661,0.04825,0.05303,...,15.05,24.37,99.31,674.7,0.1456,0.2961,0.1246,0.1096,0.2582,0.08893
465,9113239,B,13.240,20.13,86.87,542.9,0.08284,0.1223,0.10100,0.02833,...,15.44,25.50,115.00,733.5,0.1201,0.5646,0.6556,0.1357,0.2845,0.12490
146,869691,M,11.800,16.58,78.99,432.0,0.10910,0.1700,0.16590,0.07415,...,13.74,26.38,91.93,591.7,0.1385,0.4092,0.4504,0.1865,0.5774,0.10300
505,915276,B,9.676,13.14,64.12,272.5,0.12550,0.2204,0.11880,0.07038,...,10.60,18.04,69.47,328.1,0.2006,0.3663,0.2913,0.1075,0.2848,0.13640

In [11]:
df_train.shape

(569, 32)