### Exercises 1

These exercises are intended to help you become more familiar with the basics of Python.

#### Ex 1.1

In the cell below we have defined a string called `a`.

Like all types in Python, this string is an object. 

Use tab completion to see which methods are available for the string type.

Use the question mark operator to find out how the `count` method works.

Use the `count` method to count the number of *a* characters that occur in `a`. 

Try out some of the other methods as well.

In [19]:
a="a string is an object"
# type a.<Press Tab>
a.capitalize()

'A string is an object'

#### Ex 1.2

Use the string `split()` method to get a list of the words in the string `a` from the previous exercise.

Then use a list-based sorting method to sort the resulting list of words in alphabetical order. 

If `b` is the list of words in `a`, try both

```python
b.sort()
```

and

```python
sorted(b)
```

What is the difference between these approaches? (*Hint:* use the question mark operator)

In [20]:
### Your solution here
b = a.split()
b.sort()
b

['a', 'an', 'is', 'object', 'string']

In [21]:
sorted(b)

['a', 'an', 'is', 'object', 'string']

#### Ex 1.3

Jupyter allows shell commands to be issued from inside a notebook by using the `!` operator.
For instance, to see the current working directory you can type

```python
!pwd
```

in a cell and run it.

Use shell commands from within the notebook to 

1. List the other files in the current directory (*Hint:* the Linux command is `ls`).
2. Create a new subdirectory (*Hint:* the Linux command is `mkdir <dirname>`).

In [22]:
### Your solution here
!pwd

/content

In [23]:
!ls

my_test  ravenclaw  sample_data

In [24]:
!mkdir my_test

mkdir: cannot create directory ‘my_test’: File exists

#### Ex 1.4

Explain what the following cell is doing.

In [25]:
a = !ls
a
#the element a is being assigned to the list of files in the !ls directory and the list of files is displayed

['my_test  ravenclaw  sample_data']

#### Ex 1.5

Explain what the following cell is doing.

*Hint:* [touch](https://www.geeksforgeeks.org/touch-command-in-linux-with-examples/)

*Hint:* [grep](https://docs.oracle.com/cd/E19504-01/802-5826/6i9iclf5k/index.html)

In [26]:
filename = "ravenclaw"
!touch {filename}
!ls -l | grep {filename}
#the element filename is assigned to the string ravenclaw
#!touch command is creating the already assigned filename that doesn't have any data in it 
#!ls allows the user to search a list of files then the grep command pipes the list to look for {filename} within the list.

-rw-r--r-- 1 root root    0 Sep 15 04:07 ravenclaw

In [27]:
#so because "ravenclaw" was assigned to filename, when the file list was produced, any occurrence of ravenclaw was displayed.

#### Ex 1.6

Consider the string below.

```python
s="""One of nature's most intense spectacles can be tamed with humble sea salt, the same stuff that graces some dinner tables. Researchers recently found that the frequency of lightning decreases by up to 90 percent in the presence of salty sea spray."""
```

Often in Natural Language Processing (NLP) we need to filter out punctuation from a string, and break it into a list of indivivual words.

Breaking into a list of words is easy, because of the built-in string method `split()`.

Use `split()` to turn the string below into a list of words.

In [28]:
s="""One of nature's most intense spectacles can be tamed with humble sea salt, the same stuff that graces some dinner tables. Researchers recently found that the frequency of lightning decreases by up to 90 percent in the presence of salty sea spray."""
v = s.split()
v

['One',
 'of',
 "nature's",
 'most',
 'intense',
 'spectacles',
 'can',
 'be',
 'tamed',
 'with',
 'humble',
 'sea',
 'salt,',
 'the',
 'same',
 'stuff',
 'that',
 'graces',
 'some',
 'dinner',
 'tables.',
 'Researchers',
 'recently',
 'found',
 'that',
 'the',
 'frequency',
 'of',
 'lightning',
 'decreases',
 'by',
 'up',
 'to',
 '90',
 'percent',
 'in',
 'the',
 'presence',
 'of',
 'salty',
 'sea',
 'spray.']

#### Ex 1.6 cont

Now we will filter out the punctuation from `s`, leaving only letters.

There are many ways of doing this.

To help, we generate a string containing all common punctuation symbols below, called `punc`.

In [29]:
## Be sure to run this cell, or the kernel will not know what `punc` means
import string

punc=string.punctuation
punc

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

#### Ex 1.6 cont

Now write a program that will turn the following pseudocode into Python.

```
for each punctuation symbol `p` in `punc`
    replace all occurrences of `p` in `s` with the emptystring 
```

In [30]:
### Your solution here
import string
 
test_str ="""One of nature's most intense spectacles!!! can be tamed with humble sea salt, the same stuff that graces some dinner tables. Researchers recently found that the frequency of lightning decreases by up to 90 percent in the presence of salty sea spray."""

 
new_string = test_str.translate(str.maketrans('', '', string.punctuation))
print(new_string)

One of natures most intense spectacles can be tamed with humble sea salt the same stuff that graces some dinner tables Researchers recently found that the frequency of lightning decreases by up to 90 percent in the presence of salty sea spray

In [31]:
#TEST FOR ABOVE SOLUTION
s="""One of nature's most intense spectacles can be tamed with humble sea salt, the same stuff that graces some dinner tables. Researchers recently found that the frequency of lightning decreases by up to 90 percent in the presence of salty sea spray."""
new_s = s.translate
str.maketrans('', '', string.punctuation)
print(new_s)

<built-in method translate of str object at 0x7ff0c6922290>

#### Ex 1.6 Solution approach 2

Try this version of the punctuation removal algorithm.  It uses the built-in string method `isalnum()`, which returns `True` if a character is alpha-numeric and `False` otherwise.

Pseudocode:

```
create an empty list L
for each character `c` in `s`
    if `c` is alphanumeric or space then put `c` into L
turn L into a string
```

In [32]:
### Your solution here
s="""One of nature's most intense spectacles can be tamed with humble sea salt, the same stuff that graces some dinner tables. Researchers recently found that the frequency of lightning decreases by up to 90 percent in the presence of salty sea spray."""
L = []

for c in s:
  if c.isalnum() == True or c == " ":
    L.append(c)

Q = ''.join(L) #empty string
Q

'One of natures most intense spectacles can be tamed with humble sea salt the same stuff that graces some dinner tables Researchers recently found that the frequency of lightning decreases by up to 90 percent in the presence of salty sea spray'

#### Ex 1.6 review

We solved the problem two different ways.  Which is better? Jupyter includes a `%%timeit` magic that will let us determine which solution is most efficient. 

Put `%%timeit` as the first line in each of the cells for your answers and re-run them.  Which algorithm is faster? 

Can you think of a reason why the faster algorithm was faster?

In [33]:
#The algorithm using isalnum() was has a shorter runtime because using this string method does all the work that the previous algorithm does.

#### Ex 1.7

Modify the code below so that it also computes the average length of a word in `s`.

In [34]:
s="""One of nature's most intense spectacles can be tamed with humble sea salt, the same stuff that graces some dinner tables. Researchers recently found that the frequency of lightning decreases by up to 90 percent in the presence of salty sea spray."""

new_string = test_str.translate(str.maketrans('', '', string.punctuation))
print(new_string)

ss=map(len,new_string.split())
total_letters = 0
count_words = 0

for l,w in zip(ss,new_string.split()):
    #print(l,w)
    total_letters += l
    count_words += 1

print("\nThe total amount of letters in the string is:", total_letters)
print("The total amount of words are:", count_words)
print("The average length of a word in s is:",total_letters/count_words)

One of natures most intense spectacles can be tamed with humble sea salt the same stuff that graces some dinner tables Researchers recently found that the frequency of lightning decreases by up to 90 percent in the presence of salty sea spray

The total amount of letters in the string is: 201
The total amount of words are: 42
The average length of a word in s is: 4.785714285714286

In [35]:
#ALTERNATE WAY
import numpy as np
s="""One of nature's most intense spectacles can be tamed with humble sea salt, the same stuff that graces some dinner tables. Researchers recently found that the frequency of lightning decreases by up to 90 percent in the presence of salty sea spray."""

new_string = test_str.translate(str.maketrans('', '', string.punctuation))
print(new_string)

ss=map(len,new_string.split())
np.mean(list(ss))

One of natures most intense spectacles can be tamed with humble sea salt the same stuff that graces some dinner tables Researchers recently found that the frequency of lightning decreases by up to 90 percent in the presence of salty sea spray

4.785714285714286

#### Exercise 1.8

In Python a *tuple* is a non-mutable version of a list.  

Create an empty list an add 25 three-tuples (*ie* tuples of length three) to the list.

The tuples should be of the form `(a,b,c)` where

`a` is a random integer between -10 and 10

`b` is a letter of the word "rottweiler" selected uniformly at random

`c` is a floating point number chosen from the standard normal distribution.

To recap, you are going to make a list of 25 randomly generated 3-tuples, where the tuples have the above form.

Then print out the list in sorted order.

In [36]:
### Your solution here
import numpy as np 
import random

T = []

for i in range(25):
  a = random.randint(-10, 10)
  b = random.choice("rottweiler")
  c = np.random.randn()
  #print(c)
  tuple = (a, b, c)
  T.append(tuple)

T.sort()
T

[(-10, 'e', 0.76537261104837),
 (-10, 'r', 1.1494734897212548),
 (-10, 'w', 1.2602308681920456),
 (-9, 'e', 0.37879676526705575),
 (-9, 'r', -0.9699937980743806),
 (-7, 'e', 0.7916294479682504),
 (-7, 'i', -1.3510192470594822),
 (-6, 'l', -0.407174687831819),
 (-4, 't', -0.35747128019851343),
 (0, 'r', 0.24685944945584193),
 (0, 'w', 0.8510869235313921),
 (1, 'w', -0.6489647242260927),
 (2, 'e', 0.07638459427618316),
 (2, 'e', 0.4478175076253551),
 (3, 'i', 1.1573827493117468),
 (3, 'r', -0.001777889859443241),
 (3, 't', 0.717790936422074),
 (5, 'l', 0.6779637376969571),
 (5, 'w', 0.7708185976301817),
 (6, 'r', -0.48987918713767115),
 (6, 't', 0.12366097405805107),
 (6, 'w', 1.4429278919021487),
 (7, 'w', 2.0581728588473784),
 (8, 'e', 1.3532178402583042),
 (9, 'e', -0.2004688347670807)]

#### Exercise 1.9 part 1

Using the Python `datetime` object, write a short program to make a list of all the dates of all Tuesdays and Thursdays between 8/25/22 and 12/13/22 (inclusive).

In [37]:
#Print Tuesdays and Thursdays
from datetime import date, timedelta

start_date = date(2022, 8, 25) #thursday
end_date = date(2022, 12, 13) #tuesday

delta = end_date - start_date 

for i in range(delta.days + 1):
    day = start_date + timedelta(days=i)
    if day.weekday() == 1 or day.weekday() == 3:    
      print(day)

2022-08-25
2022-08-30
2022-09-01
2022-09-06
2022-09-08
2022-09-13
2022-09-15
2022-09-20
2022-09-22
2022-09-27
2022-09-29
2022-10-04
2022-10-06
2022-10-11
2022-10-13
2022-10-18
2022-10-20
2022-10-25
2022-10-27
2022-11-01
2022-11-03
2022-11-08
2022-11-10
2022-11-15
2022-11-17
2022-11-22
2022-11-24
2022-11-29
2022-12-01
2022-12-06
2022-12-08
2022-12-13

#### Exercise 1.9 part 2

Take the list you made in part 1 and filter out the following dates: 

```python
holidays = [(2022,9,27),(2022,9,29),(2022,10,4),(2022,11,24)]
```

Print the list and you have generated all of our meeting days for the current semester!

In [38]:
from datetime import date, timedelta

start_date = date(2022, 8, 25) #thursday
end_date = date(2022, 12, 13) #tuesday
holidays = [date(2022,9,27), date(2022,9,29), date(2022,10,4),date(2022,11,24)]

delta = end_date - start_date 

for i in range(delta.days + 1):
    day = start_date + timedelta(days=i)
    if day.weekday() == 1 or day.weekday() == 3: 
      if not (day in holidays):   
        print(day)

2022-08-25
2022-08-30
2022-09-01
2022-09-06
2022-09-08
2022-09-13
2022-09-15
2022-09-20
2022-09-22
2022-10-06
2022-10-11
2022-10-13
2022-10-18
2022-10-20
2022-10-25
2022-10-27
2022-11-01
2022-11-03
2022-11-08
2022-11-10
2022-11-15
2022-11-17
2022-11-22
2022-11-29
2022-12-01
2022-12-06
2022-12-08
2022-12-13