### Exercises 1

These exercises are intended to help you become more familiar with the basics of Python.

#### Ex 1.1

In the cell below we have defined a string called `a`.

Like all types in Python, this string is an object. 

Use tab completion to see which methods are available for the string type.

Use the question mark operator to find out how the `count` method works.

Use the `count` method to count the number of *a* characters that occur in `a`. 

Try out some of the other methods as well.

In [2]:
a="a string is an object"
# type a.<Press Tab>

### SOLUTION

a.encode?

Signature: a.encode(encoding='utf-8', errors='strict')
Docstring:
Encode the string using the codec registered for encoding.

encoding
  The encoding in which to encode the string.
errors
  The error handling scheme to use for encoding errors.
  The default is 'strict' meaning that encoding errors raise a
  UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
  'xmlcharrefreplace' as well as any other name registered with
  codecs.register_error that can handle UnicodeEncodeErrors.
Type:      builtin_function_or_method

#### Ex 1.2

Use the string `split()` method to get a list of the words in the string `a` from the previous exercise.

Then use a list-based sorting method to sort the resulting list of words in alphabetical order. 

If `b` is the list of words in `a`, try both

```python
b.sort()
```

and

```python
sorted(b)
```

What is the difference between these approaches? (*Hint:* use the question mark operator)

In [3]:
### SOLUTION Part 1

b = a.split()
sorted(b),b

(['a', 'an', 'is', 'object', 'string'], ['a', 'string', 'is', 'an', 'object'])

In [5]:
"a,b,c,d, e, f".split(",")

['a', 'b', 'c', 'd', ' e', ' f']

In [4]:
### SOLUTION Part 2
b.sort()
b

['a', 'an', 'is', 'object', 'string']

##### Solution to 1.2, explanation

The `sort()` string method *modifies the string* so that it becomes sorted.

The `sorted()` built-in function does not modify the original string -- it returns a new string which is the sorted version of the input.

#### Ex 1.3

Jupyter allows shell commands to be issued from inside a notebook by using the `!` operator.
For instance, to see the current working directory you can type

```python
!pwd
```

in a cell and run it.

Use shell commands from within the notebook to 

1. List the other files in the current directory (*Hint:* the Linux command is `ls`).
2. Create a new subdirectory (*Hint:* the Linux command is `mkdir <dirname>`).

In [6]:
### Solution

In [7]:
!ls

Exercises1-solution.ipynb Experiments.ipynb         ravenclaw
Exercises1.ipynb          k_armed_bandit.ipynb      topic_date_matcher.ipynb

In [8]:
!mkdir some_dir
!ls

Exercises1-solution.ipynb k_armed_bandit.ipynb      topic_date_matcher.ipynb
Exercises1.ipynb          ravenclaw
Experiments.ipynb         some_dir

#### Ex 1.4

Explain what the following cell is doing.

In [8]:
a = !ls
a

['Exercises1-solution.ipynb',
 'Exercises1.ipynb',
 'FeatureScaling.html',
 'FeatureScaling.ipynb',
 'FeatureScaling_key.ipynb']

##### Exercise 1.4 explanation

The Python and shell are interacting. The Python variable `a` is set to contain the results of the shell `ls` command as a list of strings.

#### Ex 1.5

Explain what the following cell is doing.

*Hint:* [touch](https://www.geeksforgeeks.org/touch-command-in-linux-with-examples/)

*Hint:* [grep](https://docs.oracle.com/cd/E19504-01/802-5826/6i9iclf5k/index.html)

In [7]:
filename = "ravenclaw"
!touch {filename}
!ls -l | grep {filename}

-rw-r--r--  1 hunterjohnson  staff       0 Aug 18 13:10 ravenclaw

##### Ex 1.5 explanation

Python and the shell are interacting again, but this time information is passing from Python to the shell.  A file with the same name as the string contained in `filename` is created. The contents of the directory are printed by `ls` but then `grep` filters out all lines that do not contain the string in `filename`. 

The `-l` option passed to `ls` instructs the program to print out file information in 'long form', which includes permissions, the owner, the group, a timestamp, and other information.

#### Ex 1.6

Consider the string below.

```python
s="""One of nature's most intense spectacles can be tamed with humble sea salt, the same stuff that graces some dinner tables. Researchers recently found that the frequency of lightning decreases by up to 90 percent in the presence of salty sea spray."""
```

Often in Natural Language Processing (NLP) we need to filter out punctuation from a string, and break it into a list of indivivual words.

Breaking into a list of words is easy, because of the built-in string method `split()`.

Use `split()` to turn the string below into a list of words.

In [9]:
### SOLUTION

s="""One of nature's most intense spectacles can be tamed with humble sea salt, the same stuff that graces some dinner tables. Researchers recently found that the frequency of lightning decreases by up to 90 percent in the presence of salty sea spray."""
s.split()

['One',
 'of',
 "nature's",
 'most',
 'intense',
 'spectacles',
 'can',
 'be',
 'tamed',
 'with',
 'humble',
 'sea',
 'salt,',
 'the',
 'same',
 'stuff',
 'that',
 'graces',
 'some',
 'dinner',
 'tables.',
 'Researchers',
 'recently',
 'found',
 'that',
 'the',
 'frequency',
 'of',
 'lightning',
 'decreases',
 'by',
 'up',
 'to',
 '90',
 'percent',
 'in',
 'the',
 'presence',
 'of',
 'salty',
 'sea',
 'spray.']

#### Ex 1.6 cont

Now we will filter out the punctuation from `s`, leaving only letters.

There are many ways of doing this.

To help, we generate a string containing all common punctuation symbols below, called `punc`.

In [11]:
## Be sure to run this cell, or the kernel will not know what `punc` means
import string

In [12]:
%%timeit
punc=string.punctuation

s="""One of nature's most intense spectacles can be tamed with humble sea salt, the same stuff that graces some dinner tables. Researchers recently found that the frequency of lightning decreases by up to 90 percent in the presence of salty sea spray."""


"".join([c for c in s if c not in punc])

6.72 µs ± 14.4 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

#### Ex 1.6 cont

Now write a program that will turn the following pseudocode into Python.

```
for each punctuation symbol `p` in `punc`
    replace all occurrences of `p` in `s` with the emptystring 
```

In [15]:
### SOLUTION

s="""One of nature's most intense spectacles can be tamed with humble sea salt, the same stuff that graces some dinner tables. Researchers recently found that the frequency of lightning decreases by up to 90 percent in the presence of salty sea spray."""
  
for p in punc:
    s = s.replace(p,"")
s

'One of natures most intense spectacles can be tamed with humble sea salt the same stuff that graces some dinner tables Researchers recently found that the frequency of lightning decreases by up to 90 percent in the presence of salty sea spray'

#### Ex 1.6 Solution approach 2

Try this version of the punctuation removal algorithm.  It uses the built-in string method `isalnum()`, which returns `True` if a character is alpha-numeric and `False` otherwise.

Pseudocode:

```
create an empty list L
for each character `c` in `s`
    if `c` is alphanumeric or space then put `c` into L
turn L into a string
```

In [17]:
### SOLUTION
s="""One of nature's most intense spectacles can be tamed with humble sea salt, the same stuff that graces some dinner tables. Researchers recently found that the frequency of lightning decreases by up to 90 percent in the presence of salty sea spray."""

L = []
for c in s:
    if c.isalnum() or c==' ':
        L.append(c)
        
"".join(L)

'One of natures most intense spectacles can be tamed with humble sea salt the same stuff that graces some dinner tables Researchers recently found that the frequency of lightning decreases by up to 90 percent in the presence of salty sea spray'

#### Ex 1.6 review

We solved the problem two different ways.  Which is better? Jupyter includes a `%%timeit` magic that will let us determine which solution is most efficient. 

Put `%%timeit` as the first line in each of the cells for your answers and re-run them.  Which algorithm is faster? 

Can you think of a reason why the faster algorithm was faster?

##### Ex 1.6 explanation

The first method runs in about 5.3 µs, and the second approach runs in about 21.6 µs.

I would guess that most of the time spent in the second method is inside the `isalnum()` function.  Inside this function a long list of symbols might be being checked, leading to time overhead.

The first approach runs in time roughly `len(punc)`$\times$`len(s)`

whereas the second approach runs in time roughly `len(s)`$\times$`len(all alphanumerics)`

It seems plausible that the list of all alphanumeric symbols is about four times as long as `punc`, accounting for the time discrepancy.

#### Ex 1.7

Modify the code below so that it also computes the average length of a word in `s`.

In [22]:
ss = " hello how are you".split()
for i in map(len,ss):
    print(i)

5
3
3
3

In [25]:
### SOLUTION

s="""One of nature's most intense spectacles can be tamed with humble sea salt, the same stuff that graces some dinner tables. Researchers recently found that the frequency of lightning decreases by up to 90 percent in the presence of salty sea spray."""
ss=map(len,s.split())

denom,num = 0,0
for l,w in zip(ss,s.split()):
    print(l,w)
    num += l
    denom += 1

print(f"The average length of a word in s is {num/denom:.02f} letters")

3 One
2 of
8 nature's
4 most
7 intense
10 spectacles
3 can
2 be
5 tamed
4 with
6 humble
3 sea
5 salt,
3 the
4 same
5 stuff
4 that
6 graces
4 some
6 dinner
7 tables.
11 Researchers
8 recently
5 found
4 that
3 the
9 frequency
2 of
9 lightning
9 decreases
2 by
2 up
2 to
2 90
7 percent
2 in
3 the
8 presence
2 of
5 salty
3 sea
6 spray.
The average length of a word in s is 4.88 letters

In [38]:
L = map(ord,frozenset("hiello"))
for l in L:
    print(l)
    
for l in L:
    print(l)

101
105
111
108
104

#### Exercise 1.8

In Python a *tuple* is a non-mutable version of a list.  

Create an empty list an add 25 three-tuples (*ie* tuples of length three) to the list.

The tuples should be of the form `(a,b,c)` where

`a` is a random integer between -10 and 10

`b` is a letter of the word "rottweiler" selected uniformly at random

`c` is a floating point number chosen from the standard normal distribution.

To recap, you are going to make a list of 25 randomly generated 3-tuples, where the tuples have the above form.

Then print out the list in sorted order.

In [34]:
upper = lambda x: x.upper()

upper("hello"),upper("hello"),upper("hello"),upper("hello")

('HELLO', 'HELLO', 'HELLO', 'HELLO')

In [32]:
### SOLUTION
import numpy as np

rng = np.random

L = []
for i in range(25):
    a = rng.randint(-10,11)
    b = "rottweiler"[rng.randint(0,len("rottweiler"))]
    c = rng.randn()
    L.append((a,b,c))
    
sorted(L,key = lambda x: x[-1])

[(-3, 'r', -3.1358218343966153),
 (9, 'o', -1.2102688866361346),
 (1, 'w', -1.151366698924707),
 (-5, 'e', -1.1271277645295819),
 (-1, 'o', -0.9435404097809482),
 (2, 'w', -0.8767238814305017),
 (-2, 't', -0.521364548245222),
 (-5, 'i', -0.43483158030538016),
 (8, 'l', -0.2331610896373278),
 (3, 'w', -0.21785707100441087),
 (5, 'e', -0.10182280532602846),
 (9, 'e', 0.0007407833061711381),
 (7, 'w', 0.08606568305309222),
 (0, 'e', 0.180589169285328),
 (-4, 'i', 0.2643375145642073),
 (-9, 'r', 0.31131712177041865),
 (-7, 'w', 0.31322820543775465),
 (-9, 'l', 0.41508374562648326),
 (-10, 'e', 0.7389736233716929),
 (-5, 'r', 0.7759518823943695),
 (-2, 't', 0.8994891241269777),
 (8, 'r', 1.0283869738573514),
 (-4, 'r', 1.2450452511709957),
 (7, 'w', 1.5911480808439928),
 (-2, 'o', 1.627768669874208)]

#### Exercise 1.9 part 1

Using the Python `datetime` object, write a short program to make a list of all the dates of all Tuesdays and Thursdays between 8/25/22 and 12/13/22 (inclusive).

In [32]:
### SOLUTION 1
import datetime

d = datetime.date(2022, 8, 25)
all_days = [d+datetime.timedelta(days=i) for i in range(111)]
Tuesday,Thursday = 1,3
tue_thurs = [d for d in all_days if d.weekday() in [Tuesday, Thursday]]
tue_thurs

[datetime.date(2022, 8, 25),
 datetime.date(2022, 8, 30),
 datetime.date(2022, 9, 1),
 datetime.date(2022, 9, 6),
 datetime.date(2022, 9, 8),
 datetime.date(2022, 9, 13),
 datetime.date(2022, 9, 15),
 datetime.date(2022, 9, 20),
 datetime.date(2022, 9, 22),
 datetime.date(2022, 9, 27),
 datetime.date(2022, 9, 29),
 datetime.date(2022, 10, 4),
 datetime.date(2022, 10, 6),
 datetime.date(2022, 10, 11),
 datetime.date(2022, 10, 13),
 datetime.date(2022, 10, 18),
 datetime.date(2022, 10, 20),
 datetime.date(2022, 10, 25),
 datetime.date(2022, 10, 27),
 datetime.date(2022, 11, 1),
 datetime.date(2022, 11, 3),
 datetime.date(2022, 11, 8),
 datetime.date(2022, 11, 10),
 datetime.date(2022, 11, 15),
 datetime.date(2022, 11, 17),
 datetime.date(2022, 11, 22),
 datetime.date(2022, 11, 24),
 datetime.date(2022, 11, 29),
 datetime.date(2022, 12, 1),
 datetime.date(2022, 12, 6),
 datetime.date(2022, 12, 8),
 datetime.date(2022, 12, 13)]

#### Exercise 1.9 part 2

Take the list you made in part 1 and filter out the following dates: 

```python
holidays = [(2022,9,27),(2022,9,29),(2022,10,4),(2022,11,24)]
```

Print the list and you have generated all of our meeting days for the current semester!

In [38]:
### SOLUTION

## this solution uses the "unpacking operator" https://towardsdatascience.com/unpacking-operators-in-python-306ae44cd480

holidays = [(2022,9,27),(2022,9,29),(2022,10,4),(2022,11,24)]
holidays = [datetime.date(*t) for t in holidays]
class_days = [d for d in tue_thurs if d not in holidays]

class_days

[datetime.date(2022, 8, 25),
 datetime.date(2022, 8, 30),
 datetime.date(2022, 9, 1),
 datetime.date(2022, 9, 6),
 datetime.date(2022, 9, 8),
 datetime.date(2022, 9, 13),
 datetime.date(2022, 9, 15),
 datetime.date(2022, 9, 20),
 datetime.date(2022, 9, 22),
 datetime.date(2022, 10, 6),
 datetime.date(2022, 10, 11),
 datetime.date(2022, 10, 13),
 datetime.date(2022, 10, 18),
 datetime.date(2022, 10, 20),
 datetime.date(2022, 10, 25),
 datetime.date(2022, 10, 27),
 datetime.date(2022, 11, 1),
 datetime.date(2022, 11, 3),
 datetime.date(2022, 11, 8),
 datetime.date(2022, 11, 10),
 datetime.date(2022, 11, 15),
 datetime.date(2022, 11, 17),
 datetime.date(2022, 11, 22),
 datetime.date(2022, 11, 29),
 datetime.date(2022, 12, 1),
 datetime.date(2022, 12, 6),
 datetime.date(2022, 12, 8),
 datetime.date(2022, 12, 13)]